@font-face {
    font-family: "MontserratRegular"; 
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf); 
    font-style: normal;
}
@font-face {
    font-family: "MontserratLight"; 
    src: url(/fonts/Montserrat/Montserrat-Light.ttf); 
    font-style: normal;
}
@font-face {
    font-family: "MontserratMedium"; 
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf); 
    font-style: normal;
}
@font-face {
    font-family: "UbuntuLight"; 
    src: url(/fonts/Ubuntu/Ubuntu-Light.ttf); 
    font-style: normal;
}
@font-face {
    font-family: "UbuntuMedium"; 
    src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf); 
    font-style: normal;
}