@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container__upmenu {
  font-family: 'UbuntuLight';
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-shadow: 0 0 2.5px 1px #45436025;
          box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 100;
}

.container__upmenu .container__upmenu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__img img {
  width: 1.5em;
  vertical-align: middle;
  padding: .7em;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__img:hover {
  cursor: pointer;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__nav {
  margin-left: .5em;
}

.container__upmenu .container__upmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user img {
  width: 1.5em;
  vertical-align: middle;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user:after {
  display: inline-block;
  content: '';
  background-image: url("/images/downarrow.svg");
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
  vertical-align: middle;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user:hover {
  cursor: pointer;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__exit {
  padding-right: .4em;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__exit:hover {
  cursor: pointer;
}

@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

.container {
  background-color: #F6F6FD;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  color: rgba(13, 26, 63, 0.863);
}

.container a {
  color: #454360;
  text-decoration: none;
  font-size: .9em;
}

.container .container__dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: auto;
  height: 100%;
  z-index: 1;
  width: 100%;
  font-family: 'UbuntuLight';
  display: flex;
}

.container .container__dashboard::-webkit-scrollbar {
  width: 0.7em;
}

.container .container__dashboard::-webkit-scrollbar-thumb {
  background-color: #B9ADB3;
}

.container .container__dashboard::-webkit-scrollbar-track {
  background: transparent;
}

.container .container__dashboard .container__dashboard__setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu img {
  width: 1.5em;
  padding: .4em;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .hideblocktop {
  background-color: #454360;
  height: 100%;
  border-bottom-right-radius: 21px;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .hideblockbottom {
  background-color: #454360;
  height: 100%;
  border-top-right-radius: 21px;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .select-item:hover {
  cursor: pointer;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .asise-item {
  background-color: #454360;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .asise-item .selected-item {
  background-color: #F6F6FD;
  border-top-left-radius: 21px;
  border-bottom-left-radius: 21px;
  left: .1em;
  position: relative;
}

.container .container__dashboard .container__dashboard__setting .container__dashboard__setting__asidemenu .asise-item .selected-item img {
  width: 1.5em;
  padding-left: .4em;
  position: relative;
  left: .3em;
}

.container .container__dashboard .container__dashboard__content-title {
  text-align: center;
  padding: 1em 0;
}

.container .container__dashboard .container__dashboard__content__flex__change {
  width: 50%;
}

.container .container__dashboard .container__dashboard__content__flex__change .container__dashboard__content__flex__change__property {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.container .container__dashboard .container__dashboard__content__scroll {
  font-size: 1em;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load {
  border-collapse: collapse;
  margin-left: 1em;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load .js-hover {
  cursor: pointer;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load .js-hover:hover {
  cursor: pointer;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load .span {
  max-width: 68px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load .hint {
  background: darkgreen;
  white-space: nowrap;
  position: absolute;
  z-index: 5;
  margin-top: -1.5em;
  display: none;
  cursor: pointer;
  background: #454360;
  padding: .3em;
  color: #fff;
  font-size: .8em;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load thead .top_title td {
  padding: .2em;
  z-index: 10;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #F6F6FD;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load thead .bottom_title td {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  background-color: #F6F6FD;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load tbody tr {
  border-bottom: solid 1px rgba(64, 64, 75, 0.356);
}

.container .container__dashboard .container__dashboard__content__scroll .table__load tbody tr .direction {
  position: -webkit-sticky;
  position: sticky;
  background-color: #F6F6FD;
  z-index: 10;
}

.container .container__dashboard .container__dashboard__content__scroll .table__load tbody tr td {
  padding: .2em;
}
/*# sourceMappingURL=gload.css.map */