@import 'upMenu';
@import 'fonts';

$min-width-td:  68px;
$scroll-width: .7em;
$scroll-height: .7em;
$aside-menu-radius: 21px;

.container{
    background-color: #F6F6FD;
    height: 100%;
    display: flex;
    flex-direction: column;
    // position: relative;
    overflow: hidden;
    color: rgba(13, 26, 63, 0.863);
    // min-width: 1200px;

    a{
        color: #454360;
        text-decoration: none;
        font-size: .9em;
    }
    .container__dashboard{
        display: flex;
        position: relative;
        overflow: auto;
        height: 100%;
        z-index: 1;
        &::-webkit-scrollbar {
            // height: $scroll-height;
            width: $scroll-width;
          }
        &::-webkit-scrollbar-thumb{
            background-color: #B9ADB3;
        }
        &::-webkit-scrollbar-track{
            background: transparent;
        }
        
        .container__dashboard__setting{
            display: flex;
            position: sticky;
            top: 0;
            .container__dashboard__setting__asidemenu{
                display: flex;
                flex-direction: column;
                // background-color: #454360;
                // position: sticky;
                // top: 0;
                img{
                    width: 1.5em;
                    padding: .4em;
                }
                .hideblocktop{
                    background-color: #454360;
                    height: 100%;
                    border-bottom-right-radius: $aside-menu-radius;
                }
                .hideblockbottom{
                    background-color: #454360;
                    height: 100%;
                    border-top-right-radius: $aside-menu-radius;
                }
                .select-item:hover{
                    cursor: pointer;
                }
                .asise-item{
                    background-color: #454360;
                    .selected-item{
                        background-color: #F6F6FD;
                        border-top-left-radius: $aside-menu-radius;
                        border-bottom-left-radius: $aside-menu-radius;
                        left: .1em;
                        position: relative;
                        img{
                            width: 1.5em;
                            padding-left: .4em;
                            position: relative;
                            left: .3em;
                        }
                    }
                }
            }
        }
        // .container__dashboard__content{
            // font-size: .7em;
            width: 100%;
            font-family: 'UbuntuLight';

            .container__dashboard__content-title{
                text-align: center;
                padding: 1em 0;
            }
            // .container__dashboard__content__flex{
                display: flex;

                .container__dashboard__content__flex__change{
                    width: 50%;
                    .container__dashboard__content__flex__change__property{
                        position: sticky;
                        top: 0;
                    }
                }
                
                .container__dashboard__content__scroll{
                    // overflow: hidden;
                    // overflow: scroll;
                    // width: 60%;
                    font-size: 1em;
                    
                   
                    .table__load{
                        border-collapse: collapse;
                        margin-left: 1em;
                        .js-hover{
                            cursor: pointer;
                            &:hover{
                                cursor: pointer;
                            }
                        }
                        .span{
                            // position: relative;
                            max-width: 68px;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                        }
                        .hint{
                            background: darkgreen;
                            white-space: nowrap;
                            position: absolute;
                            z-index: 5;
                            margin-top: -1.5em;
                            display: none;
                            cursor: pointer;
                            background: #454360;
                            padding: .3em;
                            color: #fff;
                            font-size: .8em;
                        }
                        thead{
                                tr{
                                    // border-bottom: solid 1px rgba(64, 64, 75, 0.356);
                                }
                                .top_title td{
                                    // max-width: $min-width-td;
                                    // overflow: hidden;
                                    // white-space: nowrap;
                                    padding: .2em;
                                    z-index: 10;
                                    text-align: center;
                                    // background: firebrick;
                                    position: sticky;
                                    top: 0;
                                    background-color: #F6F6FD;
                                    
                                    // border: solid 1px black;
                                }
                                .bottom_title td{
                                    // background: darkcyan;
                                    position: sticky;
                                    // top: 0;
                                    z-index: 10;
                                    background-color: #F6F6FD;
                                }
                            
                        }
                        tbody{
                            tr{
                                border-bottom: solid 1px rgba(64, 64, 75, 0.356);
                                .direction{
                                    // text-align: center;
                                    // background: rgba(179, 185, 206, 0.411);
                                    position: sticky;
                                    background-color: #F6F6FD;
                                    z-index: 10;
                                }
                                td{
                                    
                                    padding: .2em;
                                    
                                }
                            }
                        }
                    }
                // }
            // }
        }
    }
}
