@font-face {
  font-family: "MontserratRegular";
  src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratLight";
  src: url(/fonts/Montserrat/Montserrat-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuLight";
  src: url(/fonts/Ubuntu/Ubuntu-Light.ttf);
  font-style: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url(/fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container__upmenu {
  font-family: 'UbuntuLight';
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-shadow: 0 0 2.5px 1px #45436025;
          box-shadow: 0 0 2.5px 1px #45436025;
  z-index: 100;
}

.container__upmenu .container__upmenu__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__img img {
  width: 1.5em;
  vertical-align: middle;
  padding: .7em;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__img:hover {
  cursor: pointer;
}

.container__upmenu .container__upmenu__left .container__upmenu__left__nav {
  margin-left: .5em;
}

.container__upmenu .container__upmenu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  min-width: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user img {
  width: 1.5em;
  vertical-align: middle;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user:after {
  display: inline-block;
  content: '';
  background-image: url("/images/downarrow.svg");
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
  vertical-align: middle;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__user:hover {
  cursor: pointer;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__exit {
  padding-right: .4em;
}

.container__upmenu .container__upmenu__right .container__upmenu__right__exit:hover {
  cursor: pointer;
}
/*# sourceMappingURL=upMenu.css.map */