@import 'fonts';
html, body{
    margin: 0;
    padding: 0;
}
body{
    // display: flex;
    height: 100vh;
}
.container__upmenu{
    font-family: 'UbuntuLight';
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: 0 0 2.5px 1px #45436025;
    z-index: 100;
    .container__upmenu__left{
        display: flex;
        align-items: baseline;
        .container__upmenu__left__img{
            img{
                width: 1.5em;
                vertical-align: middle;
                padding: .7em;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .container__upmenu__left__nav{
            margin-left: .5em;
        }
    }
    .container__upmenu__right{
        display: flex;
        align-items: baseline;
        min-width: 200px;
        justify-content: space-between;
        .container__upmenu__right__user{
            img{
                width: 1.5em;
                vertical-align: middle;
            }
            &:after{
                display: inline-block;
                content: '';
                background-image: url('/images/downarrow.svg');
                background-repeat: no-repeat;
                width: 1em;
                height: 1em;
                background-size: 1em 1em;
                vertical-align: middle;
            }
            &:hover{
                cursor: pointer;
            }
            
        }
        .container__upmenu__right__exit{
            padding-right: .4em;
            &:hover{
                cursor: pointer;
            }
        }
    }
} 